@font-face {
    font-family: 'Bon-Mono';
    src: url(merchant-copy-font/MerchantCopy-GOXq.ttf)
}

body {
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Bon-Mono';
  background-color: rgb(255, 255, 255);
  position: relative;
  font-size: 50px;
  overflow-x: hidden;
}


h2 {
    font-family: 'Bon-Mono';
    text-align: center;
    font-size: 17px;
}
.post {
  border: 0.5px solid #000000; 
    padding: 3px; 
    width: 500px;
    font-family: 'Bon-Mono';
    font-size: 40px;
    height: fit-content;
    padding: 20px;
    
}



.timestamp {
    font-size: 0.8em;
    color: #000000;
    margin-bottom: 5px;
    text-align: center;
}

img {
    
    width: 80%;
    
}

.image-container {
   
    text-align: center
}

#posts {
    margin-top: 300px;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}


hr {

    border-top: 1px dashed rgb(0, 0, 0);
}



  svg {
    position: fixed;
    z-index: 2; 
    pointer-events: none;
  }

  .svg1 {
    top: 0; /* Abstand von oben */
    left: 600px; /* Abstand von links */
    width: 500px;
    height: auto;
    opacity: 40%;
    
  } 
  .svg2 {
    top: 0; /* Abstand von oben */
    left: 700px; /* Abstand von links */
    width: 700px;
    height: auto;
    opacity: 40%;
    
  } 

  .svg3 {
    top: 0; /* Abstand von oben */
    left: 0px; /* Abstand von links */
    width: 800px;
    height: auto;
    opacity: 40%;
    
  } 
  .svg4 {
    top: 500; /* Abstand von oben */
    left: 0px; /* Abstand von links */
    width: 500px;
    height: auto;
    opacity: 40%;
    
  } 

  .svg5 {
    top: 0; /* Abstand von oben */
    left: 80px; /* Abstand von links */
    width: 1400px;
    height: auto;
    opacity: 40%;
    
  } 

  path {
    fill: none;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
  }
  
  .animated-path {
    animation: draw 130s linear forwards;
    stroke: #584c8f; 
    animation-iteration-count: 1;
    display: none;
  }

  .animated-path2 {
    animation: draw 130s linear forwards;
    stroke: #584c8f;
    animation-iteration-count: 1;
  }

  .animated-path3 {
    animation: draw 130s linear forwards;
    stroke: #553838;
    animation-iteration-count: 1;
  }

  .animated-path4 {
    animation: draw 130s linear forwards;
    stroke: #5a6dff; 
    animation-iteration-count: 1;
  }
  .animated-path5 {
    animation: draw 130s linear forwards;
    stroke: #383547;
    animation-iteration-count: 1;
  }

  @keyframes draw {
    from {
      stroke-dasharray: 0, 500;
    }
    to {
      stroke-dasharray: 500, 0;
    }
  }

  /* Button-Styling */
.button {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 32px;
}

.button:hover {
    border: 1px solid #584c8f;
    color: #584c8f;
}

/* Button unten rechts für die About-Seite */
#about-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-family: 'Bon-Mono';
}

#back-button {
    display: block;
    text-align: center;
    margin: 20px auto;
}

.überschrift {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Bon-Mono';
    text-align: center;
    font-size: 22px;


}

.allgemeine-infos {
  font-size: 0.8em;
    color: #000000;
    margin-bottom: 5px;
    text-align: center;

}

.summe {
    font-family: 'Bon-Mono';
    text-align: center;
    font-size: 22px;

}

h1 {
  color: rgb(0, 0, 0);
  text-align: left;
  font-size: 80px;
  position: fixed;
  top: 0px;
  margin-left: 20px;
  
}
  